/******************************************
*		Archer Blog Homepage! Stylesheet		
*******************************************/
//Color values
$brandColor: #EC1B24;
$darkTextColor: #474343;
$lightTextColor: #FFFFFF;
$btnBgrColor: #EBEBEB;

@mixin respond-to($val, $query) {
	@media ($val: $query) {
		@content
	}
}
@mixin transition($prop, $dur, $time-func: ease-in-out, $delay: 0s){
	-ms-transition: $prop $dur $time-func $delay;     	// ?
	-o-transition: $prop $dur $time-func $delay; 		// Opera 10 - 12
	-moz-transition: $prop $dur $time-func $delay;    	// Firefox 3.5 - 16
    -webkit-transition: $prop $dur $time-func $delay; 	// Safari 3.1-6, Edge, Ghrome
    transition: $prop $dur $time-func $delay;         	// Standard syntax		
}

//********************************************
//	Fonts
//********************************************
@font-face {
    font-family: proxima-nova;
    src: url(../fonts/ProximaNova-Light.otf);
}

@font-face {
    font-family: proxima-nova;
	src: url(../fonts/ProximaNovaSoft-Bold.otf);
    font-weight: bold;
}

//********************************************
//	Base Elements
//********************************************
*{box-sizing: border-box;}

html{
	font-family: proxima-nova, sans-serif;
}

body {
	color: $darkTextColor;
	font-size: 16px;
	line-height: 1.5;
	max-width: 1200px;
	margin: 0 auto;
	min-width: 320px;
}

header, main, footer, div {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

p {
	margin: 0;
	padding: 0;	
}

address {
	font: 1.3em normal;
	line-height: 1;
}

a {
	color: $darkTextColor;
	&:active, &:hover, &:focus {
		color: $brandColor;
		text-decoration: none;
	}
}

figure {

}

button {
	-webkit-appearance: none;/*Remove Safari mobile rounded coners*/
	background-color: rgba($btnBgrColor, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	padding: 0;
	&:active, &:focus {
		outline: none;
	}
}

//*********************************************
//	Base Classes
//*********************************************
//Webkit Scrollbar
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 3px;
}
::-webkit-scrollbar-track {
	background-color: rgba(206, 206, 206, .6);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: rgba(97,97,97, 0.8);
}

.btn-hire {		
	background-color: $brandColor;	
	border-radius: 50px;
	cursor: pointer;
	height: 50px;
	width: 200px;
	&:hover {
		background-color: darken($brandColor, 5%);
	}
	&:active, &:focus {
		background-color: darken($brandColor, 10%);
	}
	a {
		color: $lightTextColor;
		display: block;
		font-size: 1.5em;
		font-weight: bold;
		height: 100%;
		line-height: 2;
		text-align: center;
		text-decoration: none;
		width: 100%;
		&:hover, &:focus, &:active {
			color: darken($lightTextColor, 20%);
		}
	}
}

//*********************************************
//	Header
//*********************************************
.head {
	padding: 10px 0;
}

.head-top { 								//flex-container
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	padding: 5px 5px 20px 5px;
	position: relative;
	.logo {									//flex-item
		flex-shrink: 0;
	}
	.head-nav {								//flex-item
		flex-basis: 55%;	
	}
	.head-btn {								//flex-item
		@include respond-to(max-width, 640px) {
			align-self: center;
			flex-basis: 150px;	
		}
	}
	.menu-icon {							//flex-item
		align-self: center;
		flex-basis: 50px;
	}
	
	@include respond-to(max-width, 640px) {
		justify-content: space-around;
		padding: 15px 0 20px 0;		
	}		
}

.logo {
	background: url(../images/as-logo-moto.svg) no-repeat;
	background-size: contain;
	height: 55px;
	width: 260px;	
	@include respond-to(max-width, 500px){
		background: url(../images/as-logo.svg) no-repeat;
		background-size: contain;
		width: 70px;
	}	
}

.logo-link {
	display: block;
	height: 100%;
	text-indent: -9999px;
	width: 100%;
}

.head-nav {
	@include respond-to(max-width, 640px) {
		direction:rtl;
		display: none;
		height: 230px;
//		max-height: 100%;
		overflow-y: auto;
		position: fixed;
		right: -240px;
		top: 0;
		z-index: 1;
	}
	@include respond-to(min-width, 640px) {
		display: block !important; 			//override js
	}
}

@import 'head-nav';

.head-btn {
	display: none;
	@include respond-to(max-width, 640px) {
		display: block;
	}
}
.menu-icon {
	display: none;
	height: 40px;
	@include respond-to(max-width, 640px) {
		display: block;
	}
}

.menu-icon-link {
	background: url(../images/menu-icon.png)  no-repeat center;
	background-size: contain;
	display: block;
	height: 100%;
	text-indent: -9999px;
	width: 100%;
}

.head-btm {	
	background-color: $brandColor;
	color: $lightTextColor;
	padding: 3px;
	p {
		@include respond-to(max-width, 640px) {
			display: none;
		}
	}
}

//************************************************
//	Main
//************************************************
.main {
	margin: 0;
	padding: 0 0 20px 0;
}

.main-section {
	margin: 0;
	padding: 0;
}

.atcls { 										//flex-container
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;		
	.atcls-item { 								//flex-item
		@include respond-to(max-width, 640px) {		
			flex-basis: 100%;
		}	
	}
}

.atcl { 		
	margin: 0;
	padding: 20px 10px;
	position: relative;
	width: 300px;
	&.hire {
		.atcl-txt{
			background-color: darken(#ffffff, 10%);
			padding: 0 20px;
			div {
				display: block;
				margin: 20px auto;
			}
		}
		
		@include respond-to(max-width, 640px) {		
			display: none;	
		}		
	}	
		
	@include respond-to(max-width, 640px) {		//flex-container
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: space-around;
		padding: 5px 0;
		width: 100%;
		.atcl-fig {								//flex-item
			flex-basis: 100px;
			flex-shrink: 0;		
		}
		.atcl-txt {								//flex-item
			flex-basis: 70%;			
		}
		
		&.attn-mobile {
			.atcl-fig {							//flex-item
				background-color: rgba(0, 0, 0, 0.5);
				flex-basis: 95%;
				flex-shrink: 1;
				height: 100%;
				img {
					height: 100%;
					left: 50%;
					width: 100%;
					z-index: -1;
				}
			}
			.atcl-txt {							//flex-item
				left: 10px;
				right: 10px;
				top: 50%;
				position: absolute;
				color: $lightTextColor;
				h3 {
					text-align: center;
				}
			}
		}
	}
}

.atcl-fig {		
	margin: 0;
	padding: 0;
	height: 170px;
	overflow: hidden;
	width: auto;
	img {
		height: auto;
		width: 100%;
	}
	
	@include respond-to(max-width, 640px) {	
		height: 100px;
		img {
			height: 100%;
			left: 50%;
			position: relative;			
			transform: translate(-50%, 0);
			width: auto;
		}
	}
}

.atcl-txt {
	height: 216px;
	overflow: hidden;	
	h3 {
		line-height: 1.7;
		padding: 20px 0 10px 0;			
	}
	p {
		line-height: 1.3;
	}
	
	@include respond-to(max-width, 640px) {	
		height: auto;
		h3 {
			padding: 0 0 0 10px;
		}
		p { 
			display: none;
		}
	}
}

.atcl-btn {	
	background-color: rgba($btnBgrColor, 1);
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	margin: 20px 0 5px 0;
	padding: 0;	
	a {
		display: block;
		font-size: 0.9em;
		font-weight: bold;
		height: 100%;
		padding: 10px 20px;
		text-decoration: none;
		width: 100%;	
	}
	
	@include respond-to(max-width, 640px) {	
		background-color: rgba(255, 255, 255, 0);
		height: 100%;
		left: 0;
		margin: 0;
		position: absolute;
		top: 0;
		width: 100%;
		&:hover, &:focus, &:active {
			background-color: transparent;
		}
		a {
			color: transparent;
			&:hover, &:focus, &:active {
				background-color: transparent;
			}			
		}
	}
}

//Main articles button
.atcls-btn {
	display: block;
	margin: 20px auto;
	padding: 20px 50px; 
}

//------------------------------------------
//	Footer
//------------------------------------------
.foot {
	background: url(../images/bg-contacts-teaser-people.png) no-repeat,
				url(../images/bg-contacts-teaser.jpg) no-repeat; //bg-contacts-teaser-people.png
	background-position:  right bottom, center;
	background-size: 120%, cover;
	height: 240px;
	width: 100%;
	
	@include respond-to(max-width, 900px) {		
		background-size: 140%, cover;
	}	
	@include respond-to(max-width, 640px) {		
		background-size: 170%, cover;
	}	
	@include respond-to(max-width, 450px) {
		background-position:  right 165px, center;	
		background-size: 220%, cover;
		height: 320px
	}		
}

.foot-container { 						//flex-container
	color: $lightTextColor;
	display: flex;
	height: 100%;
	justify-content: space-around;
	padding: 20px 10px;
	.foot-item {						//flex-item
		&:first-child {
			flex-basis: 225px;
			flex-shrink: 0;
		}
		&:nth-child(2) {
			align-self: baseline;
			flex-basis: 200px;
			flex-shrink: 0;
		}
		&:nth-child(3) {
			align-self: baseline;
			flex-basis: 320px;
		
			@include respond-to(max-width, 750px) {		
				align-self: flex-start;
			}			
			@include respond-to(max-width, 640px) {		
				display: none;
			}	
		}
		&:last-child {
			align-self: flex-end;
		}	
	}
			
	@include respond-to(max-width, 450px) {		
		flex-wrap: wrap;
		justify-content: center;
	}	
}

.foot-item {
	p {
		font-size: 2.4em;
		padding-bottom: 15px;
	}
	a {
		color: $brandColor;
		font-weight: bold;
	}	
	@include respond-to(max-width, 640px) {		
		& > a {
			display: none;
		}
	}
	@include respond-to(max-width, 450px) {		
		&:first-child {
			padding-left: 15px;
		}
	}	
}

.phone {
	padding: 20px 0;
	address {
		font-size: 0.7em;
	}
	a { 
		color: $lightTextColor;
		text-decoration: none;
		&:active, &:hover, &:focus {
			color: $brandColor;
		}
	}
}

.social-media-item {
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	margin-right: 5px;
	width: 40px;
	a {
		cursor: pointer;
		display: block;
		height: 100%;
		text-indent: -9999px;
		width: 100%;
	}
	&.skype {
		background: #fff url(../images/icon-skype.png) no-repeat;
		background-position: center;
		background-size: 47px;	
	}
	&.facebook {
		background: #fff url(../images/icon-facebook.png) no-repeat;
		background-position: center;
		background-size: 47px;		
	}
	&.linkedin {
		background: #fff url(../images/icon-linkedin.png) no-repeat;
		background-position: center;
		background-size: 47px;		
	}
	&.twitter {
		background: #fff url(../images/icon-twitter.png) no-repeat;
		background-position: center;
		background-size: 47px;			
	}
}

.btn-foot {
	background-color: rgba($btnBgrColor, 0.2);
	border-radius: 50px;
	display: inline-block;
	margin: 5px;
	a {
		color: $lightTextColor;
		display: block;
		font-size: 0.9em;
		font-weight: normal;
		height: 100%;
		text-decoration: none;
		padding: 5px 10px;
		width: 100%;
		&:hover, &:focus, &:active {
			color: $brandColor;
		}
	}
}	
