/******************************************
*		Archer Blog Homepage! Stylesheet		
*******************************************/
//Color values
$brandColor: #EC1B24;
$darkTextColor: #474343;
$lightTextColor: #FFFFFF;
$btnBgrColor: #EBEBEB;

@mixin respond-to($val, $query) {
	@media ($val: $query) {
		@content
	}
}

//-----------------------------------------
//	Fonts 
//-----------------------------------------
@font-face {
    font-family: proxima-nova;
    src: url(../fonts/ProximaNova-Light.otf);
}

@font-face {
    font-family: proxima-nova;
	src: url(../fonts/ProximaNovaSoft-Bold.otf);
    font-weight: bold;
}

//------------------------------------------
//	Base Elements
//------------------------------------------
*{box-sizing: border-box;}

html{
	font-family: proxima-nova, sans-serif;
}

body {
	color: $darkTextColor;
	font-size: 18px;
	line-height: 1.5;
	max-width: 1200px;
	margin: 0 auto;
	min-width: 320px;
}

header, main, footer {
	margin: 0;
	padding: 0;
}

section, article {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 15px 0;
	margin: 0;
	
	@include respond-to(max-width, 640px) {	
		padding: 10px 0;
	}
}

ul {

	
}


p {
	margin: 0;
	padding: 0;	
}

address {
	font: 1.3em normal;
	line-height: 1;
}

a {
	color: $darkTextColor;
	&:active, &:hover, &:focus {
		color: $brandColor;
		text-decoration: none;
	}
}

figure {
	margin: 0;
	padding: 25px 0;
	img {
		width: 100%;
	}
}

button {
	-webkit-appearance: none;/*Remove Safari mobile rounded coners*/
	background-color: rgba($btnBgrColor, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	padding: 0;
	&:active, &:focus {
		outline: none;
	}
	a {
		display: block;
		height: 100%;
		padding: 10px 20px;
		text-decoration: none;
		width: 100%;
	}
}

//------------------------------------------
//	Base Classes
//------------------------------------------

//	Clearfix
.clearfix {
	zoom: 1;
	&::before, &::after {
		content: "";
		display: table;
	}
	&::after {
		clear: both;	
	}
}

//Adapted header
h2.adapted {
	font-size: 2em;
	@include respond-to(max-width, 640px) {
		font-size: 1.5em;
	}	
}

// e-mail reference	
a.email {
	color: $brandColor;
	&:active, &:hover, &:focus {
		color: darken($brandColor, 10%);
	}
}

//	btn-hire
.btn-hire {		
	background-color: $brandColor;	
	border-radius: 50px;
	cursor: pointer;
	height: 50px;
	width: 200px;
	&:hover {
		background-color: darken($brandColor, 5%);
	}
	&:active, &:focus {
		background-color: darken($brandColor, 10%);
	}
	a {
		color: $lightTextColor;
		display: block;
		font-size: 1.5em;
		font-weight: bold;
		height: 100%;
		line-height: 1.8;
		text-align: center;
		text-decoration: none;
		width: 100%;
		&:hover, &:focus, &:active {
			color: darken($lightTextColor, 20%);
		}
	}
}

//------------------------------------------
//	Header
//------------------------------------------
.head {
	padding: 10px 0;
}

.head-top { 								//flex-container
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	padding: 5px 5px 20px 5px;
	position: relative;
	.logo {									//flex-item
		flex-shrink: 0;
	}
	.head-nav {								//flex-item
		flex-basis: 55%;
	}
	.head-btn {								//flex-item
		@include respond-to(max-width, 640px) {
			align-self: center;
			flex-basis: 150px;	
		}
	}
	.menu-icon {							//flex-item
		align-self: center;
		flex-basis: 50px;
	}
	
	@include respond-to(max-width, 640px) {
		justify-content: space-around;
		padding: 15px 0 20px 0;		
	}		
}

.logo {
	background: url(../images/as-logo-moto.svg) no-repeat;
	background-size: contain;
	height: 55px;
	width: 260px;
	
	@include respond-to(max-width, 500px){
		background: url(../images/as-logo.svg) no-repeat;
		background-size: contain;
		width: 70px;
	}	
}

.logo-link {
	display: block;
	height: 100%;
	text-indent: -9999px;
	width: 100%;
}

.head-nav {
	@include respond-to(max-width, 640px) {
		direction:rtl;
		display: none;
		max-height: 100%;
		overflow-y: auto;
		position: fixed;
		right: -240px;
		top: 0;
		z-index: 1;
	}
	@include respond-to(min-width, 640px) {
		display: block !important; 			//override js
	}
}

@import 'head-nav';

.head-btn {
	display: none;
	@include respond-to(max-width, 640px) {
		display: block;
	}
}
.menu-icon {
	display: none;
	height: 40px;
	@include respond-to(max-width, 640px) {
		display: block;
	}
}

.menu-icon-link {
	background: url(../images/menu-icon.png)  no-repeat center;
	background-size: contain;
	display: block;
	height: 100%;
	text-indent: -9999px;
	width: 100%;
}

.head-btm {	
	background-color: $brandColor;
	color: $lightTextColor;	
	font-size: 0.9em;
	padding: 3px;
	a {
		display: inline-block;
		color: $lightTextColor;
		height: 100%;
		padding: 5px 10px;
		text-decoration: none;
		&:hover{
			background-color: darken($brandColor, 10%);
		}
		&.home-icon {
			padding: 5px 0;
			div {
				background: url(../images/icon-home-white.png) no-repeat;
				background-position: center;
				background-size: contain;
				text-indent: -9999px;
			}
		}
		
		@include respond-to(max-width, 640px) {
			display: none;
		}
	}
	span {
		@include respond-to(max-width, 640px) {
			display: none;
		}	
	}
}

//------------------------------------------
//	Main
//------------------------------------------
.main {
	margin: 0;
	padding: 0 0 20px 0;
}

.main-section {							//flex-container
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	.atcl {								//flex-item
		flex-basis: 70%;
	}
	.asd {								//flex-item
		flex-basis: 26%;
	}
	.wave {								//flex-item
		flex-basis: 100%;
	}
	
	@include respond-to(max-width, 640px) {
		.atcl {								
			flex-basis: 100%;
			padding: 0 10px;
		}
		.asd {								
			display: none;
		}
		.wave {								
			display: none;
		}		
	}
	
}

//********************************************************
// Article
//********************************************************
.atcl {
	h1 {
		font-size: 2.5em;
		line-height: 1.2;
	} 
	.first-paragraph {
		font-size: 1.5em;
		line-height: 1.3;	
	}
	
	@include respond-to(max-width, 640px) {
		h1 {
			font-size: 2em;
			line-height: 1.5;		
		}
		.first-paragraph {
			font-size: 1em;
			line-height: 1.5;
		}
	}		
}

//***********************
// Main Article's Picture
//***********************
.atcl-photo {

}

.cap {											//flex-container
	align-items: center;								
	display: flex;
	justify-content: space-between;
	.cap-social {								//flex-item
		flex-basis: 60%;
	}
	.cap-cmnt {									//flex-item
		flex-basis: 40%;
	}

	@include respond-to(max-width, 640px) {
		display: none;
	}	
}

.cap-social {					//flex-container
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
	.cap-social-item {			//flex-item
		flex-basis: 23%;	
	}
}

.cap-social-item {
	background: darken($lightTextColor, 10%);
	margin: 2% 1%;
	.fcbk {
		
		left: 50%;
		position: relative;
		transform: translateX(-50%);
	}	
	
	@include respond-to(max-width, 1000px) {
		margin: 1% 1%;
	}		
	@include respond-to(max-width, 800px) {
		padding: 0;
	}	
}

.cap-social-item-link {
	display: block;
	height: 100%;
	text-indent: -9999px;
	width: 100%;
	&.twit {
		background: url(../images/icon-twitter-tweet.png) no-repeat;
		background-position: center;
		background-size: 70%;		
	}

	&.lnkdn {
		background: url(../images/icon-linkedin-share.png) no-repeat;
		background-position: center;
		background-size: 70%;		
	} 
	&.gplus {
		background: url(../images/icon-gplus-share.png	) no-repeat;
		background-position: center;
		background-size: 70%;		
	}
	@include respond-to(max-width, 800px) {
		&.twit {
			background-size: 90%;		
		}
		&.fcbk {
			background-size: 90%;		
		}
		&.lnkdn {
			background-size: 90%;		
		} 
		&.gplus {
			background-size: 90%;		
		}		
	}		
}

.cap-cmnt {						//flex-container
	align-items: center;
	display: flex;
	justify-content: flex-end;
	.cap-cmnt-photo {			//flex-item
		flex-basis: 30px;
		flex-shrink: 0;
	}
	.cap-cmnt-name {			//flex-item
		
	}
	.cap-cmnt-date {			//flex-item
		
	}
}

.cap-cmnt-photo {
	border-radius: 50px;
	height: 30px;
	overflow: hidden;
	padding: 0;
	img {

	}
}

.cap-cmnt-name {			
		padding: 0 8px;
}

//***********************
//	List with RED bullets
//***********************
.red-bullet {  //ul
	list-style-type: none;
	margin: 0;
	padding: 0 0 20px 3%;	
	& > li {
		display: block;
		&:before {	
			content: '\2022 '; // Unicode bullet symbol
			color: red;
			font-size: 2.3em;
			float: left;
			line-height: 1;	
			width: 5%;
		}
		p {
			display: inline-block;
			padding: 8px 0;
			width: 95%;
		}
	}
}

//***********************
//other-atcls touchslider
//***********************
.other-atcls {
	padding: 20px 30px 10px 30px;
	position: relative;
	h3 {
		line-height: 1.2;
		font-size: 1.1em;
	//	font-weight: normal;
		padding: 0 5px;
		position: relative; // Relative to <li class="touch-slider-item js-touch-slider-item">
		transform: translateY(-50%);
		top: 50%;
		a {
			text-decoration: none;
		}
	}
}

//	.prev, .next
.prev, .next{
	background: transparent;
	cursor: pointer;
	font-size: 50px;
	opacity: 0.3;
	position: absolute;
	text-decoration: none;
	transform: translateY(-50%);
	top: 50%;
	&.is-active{
		opacity: 1;
	}	
		&:hover, &:active, &:focus{
		color: #105a8f
	}
}

.prev {
	right: 5px;	
}

.next {
	left: 5px;
}

//***********************
//Related posts
//***********************
.related-posts {

	
}

.related-atcls {						//flex-container
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;	

	@include respond-to(max-width, 640px) {
		.related-atcls-item {				//flex-item
			flex-basis: 100%;
		}
	}	
}

.related-atcl {				
	padding: 0 5px;
	width: 210px;
	.related-atcl-date { 	
		color: #BBB;
		font-size: 0.8em;
		font-weight: bold;
	}
	.related-atcl-fig { 	
		height: 121px;
		padding: 0;
		img {
			height: auto;
			width: 100%;
		}
	}
	h4 {
		line-height: 1.2;
		padding: 10px 0 15px 10px;
		a {
			text-decoration: none;
		}
	} 
	
	@include respond-to(max-width, 640px) {	//flex-container
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: space-around;
		padding: 5px 0;
		width: 100%;
		.related-atcl-date { 				//flex-item
			display: none;
		}
		.related-atcl-fig { 				//flex-item
			flex-basis: 100px;
			flex-shrink: 0;		
			height: 100px;
			overflow: hidden;
			img {
				height: 100%;
				left: 50%;
				position: relative;			
				transform: translate(-50%, 0);
				width: auto;
			}
		}
		h4 {  								//flex-item
			flex-basis: 70%;
		}
	}			
}

//*********************************************
//	Comments
//*********************************************
//****************
//	Comments Block
//****************
.comments-block {

}

.comments {	//div
	display: none;
}

.cmnts	{	//ul
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.cmnts-item {	//li

	h5 {
		padding-top: 0;
	}
	div {
		background-color: #EEE;
		margin-bottom: 15px;
		padding: 20px 10px 0px 20px;
		position: relative;
		&::before {	//triangle
			border-color: transparent transparent #EEE transparent;
			border-style: solid;
			border-width: 15px 20px;
			content: "";
			left: 5px;
			position: absolute; 
			top: -29px;
		} 
		p {
			font-size: 0.9em;
			line-height: 1.2;
		}
		span {
			display: block;			
			text-align: right;
			a {
				color: #999;
				display: inline-block;
				font-weight: bold;
				text-decoration: none;
				&:hover, &:focus, &:active {
					color: #555;
				}
				&::before {
					background: url(../images/article-icon-reply.png) no-repeat; 
					background-position: center;
					background-size: contain;
					content: ""; 
					display: block;
					float: left;
					height: 27px;
					width: 25px; 				
				}
			}
		}
	}
}

//****************
//	Comments Form
//****************
.cmnts-form {
	display: none;
	margin: 0 auto;
	max-width: 400px;
	h2 {
		padding-bottom: 0;
	}
	label {
		display: block;
		p {
			padding: 10px 0 3px 0;
			span {
				color: red;
			}
		}
		input {
			border: 1px solid #CCC;
			padding: 10px;
			width: 100%;
		}
		textarea {
			border: 1px solid #CCC;
			width: 100%;
		}
	}
	button {
		display: block;
		margin: 20px auto;
		padding: 20px 50px;
	}
	.verification {				//flex-container
		display: flex;
		flex-wrap: wrap;
		
		p {						//flex-item
			flex-basis: 100%;
		}
		figure {				//flex-item
			background-color: #EEE;
			border: 1px solid #CCC;
			height: 50px;
			flex-basis: 30%;
			flex-grow: 1;
			padding: 0;
			img {
				height: 100%;
				position: relative;
				width: auto;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		
		div {				//flex-item
			background: url(../images/article-icon-reload.png) no-repeat; 
			background-size: contain;
			flex-basis: 25px; 
			height: 25px;
			margin: 0 5px 0 0;
			padding: 0;
			&:hover {
				cursor: pointer;
			}
			
		}
		
		input {					//flex-item
			width: 40%;
			flex-grow: 1;
		}
	}
}
//*********************
//	Add comment button
//*********************
.btn-add-cmnt {
	display: block;
	margin: 40px auto;
	padding: 20px 50px; 
}

//********************************************************
// Aside
//********************************************************
.asd {

}

//**************************
//Interesting Articles List
//**************************
.intr-atcls {			
	background: darken(#ffffff, 5%) url(../images/article-archer.png) no-repeat;
	background-position: center;
	background-size: 70%; 
	color: $brandColor;
	padding: 10px 10px 30px 10px;
	h2 {
		text-align: center;
	}
}

.intr-atcls-list {	//ol
	list-style-type: none;
//	list-style-position: outside;
	margin: 0;
	padding: 0;
	& > li {
		counter-increment: customlistcounter;	
		padding: 5px 0;
	}
	& > li:before {
		content: counter(customlistcounter) " ";
		float: left;
		font-size: 2em;
		line-height: 1;
		width: 15%;
	}
	& > li a {
		display: inline-block;
		font-weight: bold;
		text-decoration: none;
		width: 85%;
	}
}

//*********
//	Hire
//*********
.hire {
	padding: 20px 0 40px 0;
	h2 {
		text-align: center;
	}
	.btn-hire {
		width: 100%;
	}
}

//*****************
//	Aside Buttons
//*****************
.btn-asd {
	background-color: rgba($btnBgrColor, 1);
	border-radius: 50px;
	display: inline-block;
	margin: 5px;
	a {
		color: $darkTextColor;
		display: block;
		font-size: 0.9em;
		font-weight: normal;
		height: 100%;
		text-decoration: none;
		padding: 3px 8px;
		width: 100%;
		&:hover, &:focus, &:active {
			color: $brandColor;
		}
	}
}	

//********************************************************
// Wave
//********************************************************
.wave {
	padding: 2% 0;
	img {
		width: 100%;
	}
	&.mobile {
		display: none;
	}
	
	@include respond-to(max-width, 640px) {		
		&.mobile {
			display: block;
		}
	}		
}

//------------------------------------------
//	Footer
//------------------------------------------
.foot {
	background: url(../images/bg-contacts-teaser-people.png) no-repeat,
				url(../images/bg-contacts-teaser.jpg) no-repeat; //bg-contacts-teaser-people.png
	background-position:  right bottom, center;
	background-size: 120%, cover;
	height: 240px;
	width: 100%;
	
	@include respond-to(max-width, 900px) {		
		background-size: 140%, cover;
	}	
	@include respond-to(max-width, 640px) {		
		background-size: 170%, cover;
	}	
	@include respond-to(max-width, 450px) {
		background-position:  right 165px, center;	
		background-size: 220%, cover;
		height: 340px
	}		
}

.foot-container { 						//flex-container
	color: $lightTextColor;
	display: flex;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 20px 10px;
	.foot-item {						//flex-item
		&:first-child {
			flex-basis: 245px;
			flex-shrink: 0;
		}
		&:nth-child(2) {
			align-self: flex-end;
			flex-basis: 210px;
			flex-shrink: 0;
		}
		&:last-child {
			flex-grow:	1;
			align-self: flex-end;
			text-align: right;
		}	
	}
			
	@include respond-to(max-width, 450px) {		
		flex-wrap: wrap;
		justify-content: center;
		.foot-item {
			&:last-child {
				display: none;
			}
		}
	}	
}

.foot-item {
	p {
		font-size: 2.4em;
		padding-bottom: 15px;
	}
	a {
		color: $brandColor;
		font-weight: bold;
	}	
	@include respond-to(max-width, 640px) {		
		& > a {
			display: none;
		}
	}
	@include respond-to(max-width, 450px) {		
		&:first-child {
			padding-left: 15px;
		}
	}	
}

.phone {
	padding: 20px 0;
	address {
		font-size: 0.7em;
	}
	a { 
		color: $lightTextColor;
		text-decoration: none;
		&:active, &:hover, &:focus {
			color: $brandColor;
		}
	}
}

.social-media {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.social-media-item {
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	margin-right: 5px;
	width: 40px;
	a {
		cursor: pointer;
		display: block;
		height: 100%;
		text-indent: -9999px;
		width: 100%;
	}
	&.skype {
		background: #fff url(../images/icon-skype.png) no-repeat;
		background-position: center;
		background-size: 47px;	
	}
	&.facebook {
		background: #fff url(../images/icon-facebook.png) no-repeat;
		background-position: center;
		background-size: 47px;		
	}
	&.linkedin {
		background: #fff url(../images/icon-linkedin.png) no-repeat;
		background-position: center;
		background-size: 47px;		
	}
	&.twitter {
		background: #fff url(../images/icon-twitter.png) no-repeat;
		background-position: center;
		background-size: 47px;			
	}
}